body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #55BCC9;
  color: white;
  /* position: sticky;
  margin-top: -20px; */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 50px;
  margin-top: 20px;
  padding: 10px;
  margin-left: 70px;
}

.header .img {
  height: 70px;
  padding: 0;
  width: 70px;
  top: 0;
  left: 0;
  position: relative;
  top: 90px;
  filter: invert(1);
}

nav {
  text-align: center;
  padding: 0;
}
