.home-link{
  text-decoration: none;
  font-size: 15px;
  font-style: italic;
}

.home-link:hover{
   color: rgb(235, 32, 32);
}

.home-button{
  float: right;
  position: relative;
  bottom: 100px;
  right: -100px;
  padding: 5px 8px;
  background-color: #55BCC9;
  border: none;
}

.Personal img{
  /* max-height:; */
}
