.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-overlay {
  display: none;
}

.bm-burger-bars {
  background: white;
}

.bm-cross {
  background: white;
}

.bm-menu-wrap {
  background-color: #cb171f;
  position: fixed;
  right: inherit;
  height: 100%;
}